@import url('https://fonts.googleapis.com/css2?family=Mogra&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
    --bleu: #323B4C;
    --gris: #F2F2F2;
}

body{
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--gris);
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 10px;
}

nav a {
    color: var(--bleu);
    text-decoration: none;
    padding: 10px;
    display: block;
    font-family: "Roboto Flex", sans-serif;
}

nav > a p {
    margin: 0;
    font-weight: bold;
    font-family: M;
    font-size: 20px;
    color: var(--bleu);
    font-family: "Mogra", system-ui;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    position: relative;
}

nav > ul > li > a{
    border-right: 1px solid var(--bleu);
}

nav > ul > li:last-child > a{
    border-right: none;
}

nav > ul > .menu-comp > a::after{
    content: ">";
    margin-left: 5px;
}

.sous-menu-comp {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    z-index: 1000;
    min-width: 131px;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    opacity: 0;
    pointer-events: none;
}

.sous-menu-comp li {
    width: 100%;
}

.sous-menu-comp li:hover {
    background-color: #f2f2f2b0;
}

.sous-menu-comp li a{
    font-size: 14.5px;
    text-align: center;
    color: var(--bleu);
}

.sous-menu-comp a {
    padding: 10px;
}

.menu-comp:hover .sous-menu-comp {
    opacity: 1;
    transition: opacity 0.5s ease;
    pointer-events: auto;
}

nav > ul > li > a {
    position: relative;
}

nav > ul > li:not(.menu-comp) > a::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 10%;
    width: 0%;
    height: 2px;
    background-color: var(--bleu);
    transition: width 0.3s ease-in-out;
}

nav > ul > li:not(.menu-comp):hover > a::after {
    width: 80%;
}

nav > ul > .menu-comp > a::after {
    content: ">";
    margin-left: 5px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.menu-comp:hover > a::after {
    transform: rotate(90deg);
}

/*      Header      */

header{
    padding: 20px 20px;
    color: var(--bleu);
}

header h1{
    font-family: "Mogra", system-ui;
    font-size: 3rem;
    margin: 5px 0px;
    text-align: center;
}

header p{
    font-size: 2rem;
    text-align: center;
    margin: 0;
    font-family: "Roboto Flex", sans-serif;
}

header figure{
    display: flex;
    justify-content: center;
    height: 33rem;
}

header figure img{
    position: relative;
    width: 20rem;
    height: 15rem;
    margin : 20px 0px;
    
}

header figure img:first-child{
    padding-left: 20rem;
}

header figure img:nth-child(2){
    top: 13rem;
    right: 7rem;
    z-index: -1;
}

header figure img:nth-child(3){
    top: 3rem;
    right: 12rem;
}

header figure img:last-child{
    top: 16rem;
    right: 19rem;
    z-index: -1;
}

header article{
    color: var(--bleu);
    display: flex;
    flex-direction: column;
}

header article h2{
    background-color: none;
    font-family: "Mogra", system-ui;
}

header article p {
    background-color: var(--gris);
    border-radius: 5px;
    margin: 10px 20px 10px 0px;
    padding: 10px;
    font-size: 1.5rem;
    text-align: left;
    font-family: "Roboto Flex", sans-serif;
    
}

header article p a{
    color: var(--bleu);
    text-decoration: underline;
}

header article p a:hover{
    color: var(--bleu);
    font-weight: bold;
}

header article div img{
    border-radius: 10px;
    width: 15rem;
    height: auto;
}

header article div {
    display: flex;
    align-items: center;
}

header article div div {
    display: flex;
    flex-direction: column;
}

/*      Footer      */

footer{
    background-color: var(--bleu);
    color: white;
    margin-top: 20px;
    font-family: "Roboto Flex", sans-serif;
}

footer h2{
    font-family: "Mogra", system-ui;
}

footer div{
    display: grid;
    grid-template-columns: 50% 50%;
}

footer div div:not(.download-logo, .arrow-head, .arrow-line, .container){
    padding: 20px;
}

footer div div a{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

footer div div:first-child {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

footer > div > div:first-child > a{
    cursor: pointer;
    position: relative;
    color: white;
    text-decoration: none;
}

footer > div > div:first-child > a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

footer > div > div:first-child > a:hover::after{
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid white;
}

.contact a {
    position: relative;
    color: white;
    text-decoration: none;
}

.contact a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

.contact a:hover::after {
    width: 100%;
}

.contact ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

.contact ul li{
    list-style: none;
}

.contact ul li a{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact ul li a img{
    height: 25px;
    width: auto;
    margin-right: 10px;
}

footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    margin: 0;
}

/* LOGO */

.download-logo {
    position: relative;
    width: 80px;
    height: 60px;
    margin: 20px auto;
    display: inline-block;
    cursor: pointer;
}

.download-logo .arrow-line {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 25px;
    background-color: white;
}

.download-logo .arrow-head {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid white;
}

.download-logo .container {
    position: absolute;
    bottom: 5px;
    left: 10px;
    right: 10px;
    height: 20px;
    border: 3px solid white;
    border-top: none;
}

/* PAGE INDEX */

.index:not(.index h1){
    color: var(--bleu);
    font-family: "Roboto Flex", sans-serif;
}

.index h1{
    color: white;
    display: flex;
    background-color: var(--bleu);
    font-family: "Mogra", system-ui;
    width: 100%;
    height: 6rem;
    font-size: 3rem;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 20px 0;
}

.index h2{
    padding: 0 20px;
    font-family: "Mogra", system-ui;
}


.index > article > div > div:first-child:not(.timeline-item){
    display: grid;
    grid-template-columns: repeat(2, 30%);
    justify-content: center;
    gap: 40px;
}

.index article div div:first-child img{
    width: 100%;
    height: 100%;
    position: relative;
    border: 2px solid var(--bleu);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.index article div div:first-child img:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 20px var(--bleu);
}

.index article div div:first-child a:nth-child(5){
    grid-row: 3;
    grid-column: 1/3;
}

.index article div div:first-child a:last-child{
    grid-row: 4;
    grid-column: 1/3;
}

.timeline {
    position: relative;
    margin: 0 auto;
    padding: 2rem 0;
    max-width: 800px;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #909090;
    transform: translateX(-50%);
}

.timeline-item {
    position: relative;
    display: flex;
    width: 50%;
    box-sizing: border-box;
    padding: 0 45px;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.timeline-item.visible {
    opacity: 1;
    transform: translateY(0);
}

.timeline-item.left {
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: right;
    color: var(--bleu);
}

.timeline-item.right {
    left: 50%;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: var(--bleu);
}

.timeline-year {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 107px;
    color: var(--bleu);
    font-weight: bold;
}

.timeline-item.left > .timeline-year{
    left: 86.5%;
}

.timeline-item.right > .timeline-year{
    right: 86.5%;
}

.timeline-year div{
    background: var(--bleu);
    height: 30px;
    width: 30px;
    border-radius: 20px;
}

.timeline-year p{
    margin: 0;
    font-family: "Roboto Flex", sans-serif;
}

.timeline-item .content{
    background-color: var(--gris);
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: var(--bleu);
}

.timeline .content:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 20px var(--bleu);
}

.timeline-item .content a{
    text-decoration: none;
    color: var(--bleu);
}

.timeline-item .content h3{
    text-align: center;
}

/* COMP1 */

.comp1{
    color: var(--bleu);
    padding: 0 20px;
    font-family: "Roboto Flex", sans-serif;
}

.comp1 h1, h2{
    font-family: "Mogra", system-ui;
}

.comp1 p{
    text-align: left;
}

.comp1 div:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comp1 div:last-child{
    display: grid;
    gap: 2rem;
}

.comp1 div:last-child article{
    background-color: var(--gris);
    padding: 10px;
    border-radius: 5px;
}

.comp1 div:last-child article{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.comp1 div:last-child article:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 20px var(--bleu);
}

.comp1 div:last-child article:nth-child(2) ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comp1 div:last-child article:nth-child(2) ul li{
    list-style: "-      ";
}

.comp1 div:last-child article:nth-child(3) p{
    line-height: 150%;
}

.comp1 > div:last-child > img{
    grid-column: 2;
    grid-row: 1/3;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    border: 1px solid
}

.comp1 div:last-child article:last-child ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
}

.comp1 div:last-child article:last-child ul li{
    display: flex;
    align-items: center;
}

.comp1 div:last-child article:last-child ul li a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--bleu);
    position: relative;
}

.comp1 div:last-child article:last-child ul li a img{
    height: 25px;
    width: auto;
    margin-right: 10px;
    border: none;
}

.comp1 > div:last-child > article:last-child > ul > li > a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--bleu);
    transition: width 0.3s ease-in-out;
}

.comp1 > div:last-child > article:last-child > ul > li > a:hover::after {
    width: 100%;
}

/* COMP2 */

.comp2{
    color: var(--bleu);
    padding: 0 20px;
    font-family: "Roboto Flex", sans-serif;
}

.comp2 h1, h2{
    font-family: "Mogra", system-ui;
}

.comp2 p{
    text-align: left;
}

.comp2 div:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comp2 div:last-child{
    display: grid;
    gap: 2rem;
}

.comp2 div:last-child article{
    background-color: var(--gris);
    padding: 10px;
    border-radius: 5px;
}

.comp2 div:last-child article{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.comp2 div:last-child article:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 20px var(--bleu);
}

.comp2 div:last-child article:nth-child(2) p{
    font-weight: bold;
}

.comp2 div:last-child article:nth-child(2) ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comp2 div:last-child article:nth-child(2) > ul > li{
    list-style: "-      ";
}

.comp2 div:last-child article:nth-child(2) ul > li > ul > li:first-child{
    margin-top: 20px;
}

.comp2 div:last-child article:nth-child(2) ul > li > ul > li{
    list-style: square;
}

.comp2 div:last-child article:nth-child(3) p{
    line-height: 150%;
}

.comp2 div:last-child figure{
    grid-column: 2;
    grid-row: 1/3;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 2rem;
}

.comp2 img{
    border-radius: 5px;
    height: 100%;
    width: 100%;
    border: 1px solid var(--bleu);
}

.comp2 div:last-child article:last-child ul{
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    padding: 0;
}

.comp2 div:last-child article:last-child ul li{
    display: flex;
    align-items: center;
}

.comp2 div:last-child article:last-child ul li a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--bleu);
    position: relative;
}

.comp2 div:last-child article:last-child ul li a img{
    height: 25px;
    width: auto;
    margin-right: 10px;
    border: none;
}

.comp2 > div:last-child > article:last-child > ul > li > a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--bleu);
    transition: width 0.3s ease-in-out;
}

.comp2 > div:last-child > article:last-child > ul > li > a:hover::after {
    width: 100%;
}

/* COMP3 */

.comp3{
    color: var(--bleu);
    padding: 0 20px;
    font-family: "Roboto Flex", sans-serif;
}

.comp3 h1, h2{
    font-family: "Mogra", system-ui;
}

.comp3 p{
    text-align: left;
}

.comp3 div:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comp3 div:last-child{
    display: grid;
    gap: 2rem;
}

.comp3 div:last-child article{
    background-color: var(--gris);
    padding: 10px;
    border-radius: 5px;
}

.comp3 img{
    border-radius: 5px;
    grid-column: 2;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
    border: 1px solid var(--bleu);
}

.comp3 div:last-child article{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.comp3 div:last-child article:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 20px var(--bleu);
}

.comp3 div:last-child article:nth-child(2) ol{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comp3 div:last-child article:nth-child(3) p{
    line-height: 150%;
}

.comp3 div:last-child article:last-child ul{
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(2, 70%);
    gap: 20px;
    padding: 0;
}

.comp3 div:last-child article:last-child ul li{
    display: flex;
    align-items: center;
}

.comp3 div:last-child article:last-child ul li a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--bleu);
    position: relative;
}

.comp3 div:last-child article:last-child ul li a img{
    height: 25px;
    width: auto;
    margin-right: 10px;
    border: none;
}

.comp3 > div:last-child > article:last-child > ul > li > a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--bleu);
    transition: width 0.3s ease-in-out;
}

.comp3 > div:last-child > article:last-child > ul > li > a:hover::after {
    width: 100%;
}

/* COMP4 */

.comp4{
    color: var(--bleu);
    padding: 0 20px;
    font-family: "Roboto Flex", sans-serif;
}

.comp4 h1, h2{
    font-family: "Mogra", system-ui;
}

.comp4 p{
    text-align: left;
}

.comp4 div:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comp4 div:last-child{
    display: grid;
    grid-template-columns: repeat(2 40%);
    gap: 2rem;
}

.comp4 div:last-child article{
    background-color: var(--gris);
    padding: 10px;
    border-radius: 5px;
}

.comp4 img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 1/3;
    border: 1px solid var(--bleu);
}

.comp4 div:last-child article{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.comp4 div:last-child article:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 20px var(--bleu);
}

.comp4 div:last-child article:nth-child(2) ol{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comp4 div:last-child article:nth-child(3) p{
    line-height: 150%;
}

.comp4 div:last-child article:last-child ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
}

.comp4 div:last-child article:last-child ul li{
    display: flex;
    align-items: center;
}

.comp4 div:last-child article:last-child ul li a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--bleu);
    position: relative;
}

.comp4 div:last-child article:last-child ul li a img{
    height: 25px;
    width: auto;
    margin-right: 10px;
    border: none;
}

.comp4 > div:last-child > article:last-child > ul > li > a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--bleu);
    transition: width 0.3s ease-in-out;
}

.comp4 > div:last-child > article:last-child > ul > li > a:hover::after {
    width: 100%;
}

/* COMP 5 */

.comp5{
    color: var(--bleu);
    padding: 0 20px;
    font-family: "Roboto Flex", sans-serif;
}

.comp5 h1, h2{
    font-family: "Mogra", system-ui;
}

.comp5 p{
    text-align: left;
}

.comp5 div:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comp5 div:last-child{
    display: grid;
    grid-template-columns: repeat(2 40%);
    gap: 2rem;
}

.comp5 div:last-child article{
    background-color: var(--gris);
    padding: 10px;
    border-radius: 5px;
}

.comp5 img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 1/3;
    border: 1px solid var(--bleu);
}

.comp5 div:last-child article{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.comp5 div:last-child article:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 20px var(--bleu);
}

.comp5 div:last-child article:nth-child(2) ol{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comp5 div:last-child article:nth-child(3) p{
    line-height: 150%;
}

.comp5 div:last-child article:last-child ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0;
}

.comp5 div:last-child article:last-child ul li:nth-child(1),
.comp5 div:last-child article:last-child ul li:nth-child(2),
.comp5 div:last-child article:last-child ul li:nth-child(3),
.comp5 div:last-child article:last-child ul li:nth-child(4){
    grid-column: 1;
}

.comp5 div:last-child article:last-child ul li:nth-child(5) {
    grid-column: 2;
    grid-row: 1;
}

.comp5 div:last-child article:last-child ul li:nth-child(6){
    grid-column: 2;
    grid-row: 2;
}

.comp5 div:last-child article:last-child ul li{
    display: flex;
    align-items: center;
}

.comp5 div:last-child article:last-child ul li a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--bleu);
    position: relative;
}

.comp5 div:last-child article:last-child ul li a img{
    height: 25px;
    width: auto;
    margin-right: 10px;
    border: none;
}

.comp5 > div:last-child > article:last-child > ul > li > a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--bleu);
    transition: width 0.3s ease-in-out;
}

.comp5 > div:last-child > article:last-child > ul > li > a:hover::after {
    width: 100%;
}

/* COMP6 */

.comp6{
    color: var(--bleu);
    padding: 0 20px;
    font-family: "Roboto Flex", sans-serif;
}

.comp6 h1, h2{
    font-family: "Mogra", system-ui;
}

.comp6 p{
    text-align: left;
}

.comp6 div:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comp6 div:last-child{
    display: grid;
    grid-template-columns: repeat(2 40%);
    gap: 2rem;
}

.comp6 div:last-child article{
    background-color: var(--gris);
    padding: 10px;
    border-radius: 5px;
}

.comp6 img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 1/3;
    border: 1px solid var(--bleu);
}

.comp6 div:last-child article{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.comp6 div:last-child article:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 20px var(--bleu);
}

.comp6 div:last-child article:nth-child(2) ol{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comp6 div:last-child article:nth-child(3) p{
    line-height: 150%;
}

.comp6 div:last-child article:last-child ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
}

.comp6 div:last-child article:last-child ul li{
    display: flex;
    align-items: center;
}

.comp6 div:last-child article:last-child ul li a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--bleu);
    position: relative;
}

.comp6 div:last-child article:last-child ul li a img{
    height: 25px;
    width: auto;
    margin-right: 10px;
    border: none;
}

.comp6 > div:last-child > article:last-child > ul > li > a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--bleu);
    transition: width 0.3s ease-in-out;
}

.comp6 > div:last-child > article:last-child > ul > li > a:hover::after {
    width: 100%;
}

/* CONTACT */

.contacter{
    font-family: "Roboto Flex", sans-serif;
    color: var(--bleu);
    padding: 10px;
}

.contacter h1{
    font-family: "Mogra", system-ui;
}

.contacter > div{
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;
}

.contacter div div{
    background-color: var(--gris);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
}

.contacter div div:first-child{
    grid-column: 1;
}

.contacter div div:nth-child(2){
    grid-column: 2;
}

.contacter div div:last-child{
    grid-column: 1/3;
}

.contacter div div h2{
    font-weight: bold;
    margin: 0;
}

.contacter div div:first-child section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacter div div:first-child section a{
    color: var(--bleu);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 25px;
    background-color: white;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contacter div div:first-child section a:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 20px var(--bleu);
}

.contacter div div:first-child section a img{
    width: 25px;
    height: auto;
}

.contacter div div:nth-child(2) iframe{
    border-radius: 25px;
    height: 100%;
    width: 100%;
    border: 2px solid var(--bleu);
}

.contacter div div:last-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacter div div:last-child h2, p{
    text-align: center;
}

.contacter div div:last-child form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contacter div div:last-child form input, textarea{
    border-radius: 25px;
    border: 2px solid var(--bleu);
    min-width: 400px;
}

.contacter div div:last-child form textarea{
    border-radius: 25px;
    border: 2px solid var(--bleu);
    min-width: 400px;
    height: 100px;
}

.contacter div div:last-child form button{
    background-color: var(--bleu);
    color: white;
    border-radius: 25px;
    height: 15%;
    width: 30%;
    font-size: 1rem;
    padding: 5px;
}
